.container{
    background-color: rgba(255, 255, 255, 0.904);
    text-align: center;
    height: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 24px 28px 0 rgba(0, 0, 0, 0.4), 0 26px 40px 0 rgba(0, 0, 0, 0.4);
}

.loginForm{
    width: 80%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.loginForm2{
    width: 80%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.full{
    width: 100%;
}
.toLeft{
    text-align: left;
}

.disappear{
    color: rgba(240, 248, 255, 0);
}